{% extends "base/base.html" %}
{% block content %}

<div class="container">
   

    
    <div id="about" class="mb-5">
        <div class="card bg-body-secondary text-dark d-flex flex-column border-0">
            <div class="card-body d-flex flex-column justify-content-between">
                <div class="row">
                <!--   <div class="col-md-10"> --> 
                        <h1 id="main-heading" class="display-1">Gokul Jayan J B</h1>
                        <hr>
                        <p id="objective" class="lead mt-auto">As an aspiring Data Scientist with a passion for mathematics and a strong commitment to personal growth, I aim to utilize my expertise in AI and machine learning to develop innovative solutions.My adaptability and eagerness to learn new technologies drive me to stay current in the fast-paced landscape of data science. 
                            I seek opportunities to collaborate with like-minded professionals and contribute to projects that push the boundaries of innovation.</p>
                <!--     </div> -->
                    <!--
                    <div class="col-md-2 d-flex align-items-center align-items-md-start justify-content-center d-none d-md-flex">
                        <img src="{{ personal_details.picture.url }}" alt="{{ personal_details.name }}" class="img-fluid rounded responsive-img" >
                    </div>
                -->
                </div>
            </div>
        </div>
    </div>
   
    
    
    
    
    

    <!-- 
    <div id="education" style="background-color: #614A30; padding: 20px;" class="mb-5">
        <h2 class="text-white">Education</h2>
        <div class="row">
            {% for education in education_details %}
            <div class="col-12 mb-4">
                <div style="background-color: #E09A7E; padding: 20px; border-radius: 5px;">
                    <h5>{{ education.qualification }}</h5>
                    <h6 class="text-muted">{{ education.institution }}</h6>
                    <p>Graduated: <strong>{{ education.year_of_graduation }}</strong></p>
                    <p>Marks: <strong>{{ education.marks }}%</strong></p>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No education details available.
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    Education Section -->
    
    
    
    
    

    <!-- Skills Section -->
    <div id="skills" class="card bg-body-secondary container mb-5 border-0">
        <h2 class="display-4">Skills</h2>
        <hr>
        <div class="card-body row justify-content-center">
            
            {% for skill in skills %}
                <div class="col-md-3 col-sm-6 mb-3">
                    <span class=" fs-5 p-3"><i class="fa-solid fa-bullseye"></i> {{ skill }}</span>
                </div>
            {% empty %}
                <p>No skills listed.</p>
            {% endfor %}
        </div>
    </div>
    
    
    

    <!-- Projects Section --><!--
    <div id="projects" class="mb-5">
        <h2>Projects</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.project_name }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <p><strong>Technologies Used:</strong> {{ project.technologies_used }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ project.project_link }}" target="_blank" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No projects available.</p>
            {% endfor %}
        </div>
    </div> -->
    <div id="projects" class="card bg-body-secondary mb-5 border-0">
        <h2 class="display-4">Projects</h2>
        <hr>
        <div class="card-body row">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-hover">
                        <a href="{% url 'base:project_detail' project.id %}" class="text-decoration-none text-dark"> 
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p>{{ project.technologies }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p>No projects available.</p>
            {% endfor %}
        </div>
        
    </div>
    
<!--
    <div class="d-flex justify-content-center align-items-center">
       
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
            Contact Me
        </button>
    </div>
-->
    
    
    
</div>
<footer class="card bg-body-secondary text-dark border-0 p-4 mt-5 w-100">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-md-4 mb-3">
            <div>Email: gokul1999jayan@gmail.com</div>
            <div>Phone: 7356224605</div>
            <div>Location: Trivandrum</div>
        </div>
    </div>
    <div class="text-center mt-4">
        <p>&copy; 2024 {{ personal_details.name }}. All Rights Reserved.</p>
    </div>
</footer>



<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact Me</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% load crispy_forms_tags %}
                <form method="post" action="{% url 'base:index' %}">
                    {% csrf_token %}
                    {{ form|crispy }} <!-- Use crispy filter to automatically style the form -->
                    
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Thank You Modal -->
<div class="modal fade" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="thankYouModalLabel">Message Received</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Thank you for contacting me! I'll get back to you soon.
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


{% if submitted %}
<script>
    document.addEventListener("DOMContentLoaded", function () {

        
       
        var thankYouModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
        thankYouModal.show();

       
        thankYouModal._element.addEventListener('shown.bs.modal', function () {
            const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.replaceState({}, document.title, newUrl);
        });
    });
</script>
{% endif %}



{% endblock content %}



{% block custom_script %}
<script> 
  
    document.addEventListener('DOMContentLoaded', function() {
        const navbarBrand = document.getElementById('nav-name');
       const pageTitle = document.getElementById('main-heading');

      
        navbarBrand.style.visibility = 'hidden';

       
       window.addEventListener('scroll', function() {
           const pageTitleBottom = pageTitle.getBoundingClientRect().bottom;

            if (pageTitleBottom <= 0) {
                
                navbarBrand.style.visibility = 'visible';
            } else {
                
                navbarBrand.style.visibility = 'hidden';
            }
        });
    });

    
</script>
{% endblock %}